* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333333;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 100%;
  max-width: 600px;
}

.logo {
  display: block;
  margin: auto;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #2d86df;
  background-color: transparent;
  font-size: 16px;
  color: #e0e0e0;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid #0a609e;
}

i.fas {
  position: absolute !important;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  color: #0077cc;
}

#toggle-password {
  left: 96%;
  cursor: pointer;
}


.login-error {
  text-align: center;
  color: red;
  margin-top: -10px;
}

.hidden {
  display: none !important;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #157ce2;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005da0;
}

.profile-info {
  display: flex;
  width: 95%;
  margin: 20px auto;
}



#user-name,
#level,
#xp,
#ratio {
  display: inline-block;
  position: relative;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 0px 1px 5px .1px #9969ff91;
  background-color: #999;
  margin: 10px;
}

#logout {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #888;
  cursor: pointer;
}

#level,
#ratio,
#xp {
  top: 10px;
  width: 80px;
  height: 80px;
}

.profile {
  position: relative;
}

#user-name span,
#level span,
#xp span,
#ratio span {
  position: absolute;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-info .info {
  display: inline-block;
  position: relative;
  color: #f9f9f9;
  top: -30px;
  margin-left: 5px;
}

#full-name {
  font-size: 18px;
  font-weight: bold;
}

#campus {
  font-size: 14px;
  color: rgb(185, 185, 185);
  margin-top: 3px;
}

.user-progress {
  position: absolute;
  right: 0;
}

.des {
  font-size: 12px !important;
  text-transform: none !important;
  font-weight: normal !important;
  position: absolute !important;
  top: 60px !important;
  left: 50% !important;
  color: rgba(0, 0, 0, 0.7) !important;
  transform: translateX(-50%);
}

#campus::before {
  display: inline-block;
  position: relative;
  left: -4px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #9969ff;
  border-radius: 50%;
}

#br {
  position: absolute;
  top: 115px;
  width: 100%;
  /* left: 10%; */
  height: 2px;
  border-radius: 1px;
  background-color: #9869ff;
}

/* module graphs */
.module-graphs {
  width: 98%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Graph style */
.graph {
  position: relative;
  flex: 1 1 45%;
  min-width: 400px;
  height: 400px;
  background-color: #888;
}

svg {
  width: 100%;
  height: 100%;
}

#skills div {
  position: absolute;
  cursor: pointer;
  border: 1px solid;
  padding: 3px;
  border-radius: 5px;
}

#prevent {
  left: 5px;
  bottom: 5px;
}

#next {
  right: 5px;
  bottom: 5px;
}

#piscines {
  position: relative;
  width: 98%;
  margin: 10px auto;
  background-color: #666;
  padding: 40px 5px 5px 5px;
}

#piscines select, #p-level, #p-xp {  
  position: absolute;
  top: 4px;
  background-color: #888;
  color: #fff;
  font-size: 14px;
  padding: 1px;
}

.p-graph2 {
  width: 98%;
  height: 400px;
  background-color: #888;
  margin: auto;
}

#p-level, #p-xp{
  top: 5px;
  right: 10px;
  padding: 4px;
  font-size: 14px;
}

#p-level {
  right: 120px;
}

#p-level span, #p-xp span {
  color: black;
}

@media (max-width: 600px) {
  .login-box {
    padding: 20px;
  }

  input[type="text"],
  input[type="password"],
  button {
    font-size: 14px;
  }

  .user-progress {
    display: flex;
    justify-content: space-around;
    top: 140px;
    width: 100%;
    z-index: 100;
  }

  .user-info {
    width: 100%;
    text-align: center;
  }

  .user-info #user-name {
    display: block;
    margin: auto;
  }

  .user-info .info {
    top: 5px;
  }

  #br {
    position: absolute;
    top: 145px;
    width: 80%;
    left: 10%;
    height: 2px;
    border-radius: 1px;
    background-color: #9869ff;
  }

  .module-graphs {
    position: relative;
    top: 100px;
    width: 90%;
  }
  .graph {
    flex: 1 1 100%;
  }

  .graph1, .graph2 {
    flex: 1 1 100%;
  }

  #piscines {
    position: relative;
    top: 100px;
  }

}